<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="hradmin@withwm.com"/>
    <add key="Password" value="Welcome$2u"/>
    <add key="BaseUrl" value="https://corehr.staging.neogov.net"/>
    <add key="DriverLocation" value="E:\CHR\CorehrAut\CorehrAut"/>
  </appSettings>
</configuration>